# Databricks Serverless Cluster Connection

This notebook connects to a Databricks serverless cluster and executes code.

## Setup

First, install the required packages:

In [ ]:
!pip install databricks-sdk -q

## Configure Databricks Connection

Set up your Databricks workspace URL and authentication.

In [ ]:
import os
from databricks.sdk import WorkspaceClient

# Databricks workspace configuration
DATABRICKS_HOST = "https://dbc-1109a291-3564.cloud.databricks.com"
DATABRICKS_TOKEN = "dapi005ac5904e0dcd410292c1589ac4989e"

# Set environment variables for databricks-connect
os.environ["DATABRICKS_HOST"] = DATABRICKS_HOST
os.environ["DATABRICKS_TOKEN"] = DATABRICKS_TOKEN

## Initialize Workspace Client

Connect to the Databricks workspace.

In [ ]:
# Initialize the workspace client
w = WorkspaceClient(host=DATABRICKS_HOST, token=DATABRICKS_TOKEN)

# Test connection
print("✓ Connected to Databricks workspace successfully!")
print(f"  Host: {DATABRICKS_HOST}")

# List available SQL warehouses
print("\nAvailable SQL Warehouses:")
warehouses = list(w.warehouses.list())
for wh in warehouses:
    print(f"  • {wh.name}")
    print(f"    ID: {wh.id}")
    print(f"    State: {wh.state}")

## Get SQL Warehouse

Find and start the SQL Warehouse for executing queries.

In [ ]:
# Get the first available warehouse
warehouses = list(w.warehouses.list())
if not warehouses:
    raise Exception("No SQL warehouses found. Please create one in your Databricks workspace.")

warehouse_id = warehouses[0].id
warehouse_name = warehouses[0].name

print(f"Using SQL Warehouse: {warehouse_name}")
print(f"Warehouse ID: {warehouse_id}")

# Check if warehouse needs to be started
from databricks.sdk.service.sql import State
warehouse = w.warehouses.get(warehouse_id)

if warehouse.state == State.STOPPED:
    print(f"\nStarting warehouse...")
    w.warehouses.start(warehouse_id)
    
    # Wait for it to start
    import time
    while True:
        warehouse = w.warehouses.get(warehouse_id)
        if warehouse.state == State.RUNNING:
            print("✓ Warehouse is running!")
            break
        elif warehouse.state == State.STARTING:
            print("  Still starting...")
            time.sleep(5)
        else:
            print(f"  Current state: {warehouse.state}")
            time.sleep(5)
else:
    print(f"✓ Warehouse is already {warehouse.state}")

## Execute SQL Queries

Run SQL queries on the serverless warehouse.

In [ ]:
# Execute a simple test query
print("Executing test query...")
result = w.statement_execution.execute_statement(
    warehouse_id=warehouse_id,
    statement="SELECT 'Hello from Databricks!' as message, current_timestamp() as timestamp"
)

print("✓ Query executed successfully!")
print("\nResult:")
if result.result and result.result.data_array:
    for row in result.result.data_array:
        print(f"  {row}")

## Create and Query Test Data

In [ ]:
# Create a temporary view with test data
create_table_sql = """
CREATE OR REPLACE TEMPORARY VIEW test_people AS
SELECT 'Alice' as name, 25 as age UNION ALL
SELECT 'Bob' as name, 30 as age UNION ALL
SELECT 'Charlie' as name, 35 as age
"""

print("Creating test data...")
result = w.statement_execution.execute_statement(
    warehouse_id=warehouse_id,
    statement=create_table_sql
)
print("✓ Test data created!")

# Query the test data
print("\nQuerying test data...")
result = w.statement_execution.execute_statement(
    warehouse_id=warehouse_id,
    statement="SELECT * FROM test_people ORDER BY age"
)

print("\nTest People:")
if result.result and result.result.data_array:
    # Print header
    if result.manifest and result.manifest.schema and result.manifest.schema.columns:
        headers = [col.name for col in result.manifest.schema.columns]
        print(f"  {' | '.join(headers)}")
        print(f"  {'-' * 30}")
    
    # Print rows
    for row in result.result.data_array:
        print(f"  {' | '.join(str(val) for val in row)}")

# Calculate average age
print("\nCalculating average age...")
result = w.statement_execution.execute_statement(
    warehouse_id=warehouse_id,
    statement="SELECT AVG(age) as avg_age FROM test_people"
)

if result.result and result.result.data_array:
    avg_age = result.result.data_array[0][0]
    print(f"Average age: {avg_age}")